<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="teacher" />
            <allow roles="admin" />
            <deny roles="registeredStudent" />
            <deny roles="unregisteredStudent" />
            <deny users="?" />
        </authorization>
    </system.web>
</configuration>