.container {
    background-color:#E5E5E5;
    margin-bottom:10%;
}

* {
    box-sizing:border-box;
}

.imgRow {
    display:inline;
    width:30%;
    height:200px;
}

#middleImg {
    margin-left:5%;
    margin-right:4%;
}

h1 {
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.row {
    margin-left:5%;
    margin-right:5%;
    width:90%;
    margin-bottom:15px;
    display: inherit;
}

#news {
    padding:15px;
    height:250px;
    background-color:white;
}

#headNews {
    background-image:linear-gradient(to right, #3E4891,#833D3D);
    padding-left:15px;
    margin-bottom:0;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.leftPic {
    background-color:white;
    height:250px;
    display:inline-block;
    width:70%;  
    float:left;
}

.rightPic {
    background-color:white;
    height:100%;
    display:inline-block;
    float:left;
    width:27%;
}

#contentRight {
padding:15px;

}

.middlePic {
    background-color:#E5E5E5;
    float:left;
    display:inline-block;
    height:250px;
    width:3%;
}

#headPic {
    background-image:linear-gradient(to right, #3E4891,#833D3D);
    padding-left:15px;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#headPic2 {
    background-image:linear-gradient(to right, #3E4891,#833D3D);
    padding-left:15px;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#picRow {
    background-color:white;
    height:250px;
}

.bg-pi {
    background-color:white;
    height:820px;
}

.back-button {
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
    right: 0;
    position: absolute;
}

.pi-title {
    text-align:center;
    padding-top:50px;
    
}

.bg-title-color {
    background-image:linear-gradient(to right, #3E4891,#833D3D);
    padding-top:15px;
    padding-bottom:15px;
}

.bg-title {
    color:white;
    padding-left:30%;
    padding-right:30%;

}

.pi-text {
    background-color:#E5E5E5;
    margin-left:30%;
    margin-right:30%;
    margin-top:3%;
    padding:50px;
}

#payinfo {
    background-image:linear-gradient(to right, #3E4891,#833D3D);
    color:white;
    display:inline;
    padding-top: 89px;
    padding-bottom: 92px;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 38px;
    margin-right: 38px;
    font-weight:bold;
}

#payinfo :hover {
    
    color:blue;
  
    font-weight:bolder;
}


.NewsCenter {
    width:100%;
    text-align:center;
}

.childNews {
    display: inline-block
}
