body {
}

#ManageContainer {
    background-color:white;
    margin:5%;

    padding-top:30px;
    padding-left:30px;
    padding-bottom:50px;
}

#UserListDiv {
    padding-top:1%;
    padding-left:10%;
    padding-right:14%;
}

#SetRoleDiv {
    /*padding-top:17%;
    padding-left:4%;
    position: absolute;*/
    margin-left: 135px;
    margin-top:18px;
    float: left;
    padding-right:4%;

}

#AllUsersDiv {
    padding-top:3%;
}

#DeleteUserDiv {
    padding-left: 38%;
    padding-bottom:30px;
    margin-top: 73px;
    margin-left:15px;
}

.textbox {
    width: 200px;
  padding: 8px 11px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left:15px;
}

.dropdownlist {
    width: 200px;
  padding: 8px 11px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left:15px;

}

.button {
    width: 200px;
  padding: 8px 11px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  margin-left:15px;
  
  background-color: #808080;
  color: white;
  border: none;
  cursor: pointer;
}

.grdContent{
    width: 80%;
    border: solid 2px black;
    min-width: 80%;
}

.header {
    background-color: #CCC;
    font-family: Arial;
    color: black;
    height: 25px;
    font-size: 16px;
    border: solid 1px black;

}      

.mygrdContent td
{
     padding: 8px;
}

.mygrdContent th
{
     padding: 5px;
}
