body {
    overflow-x: hidden;
    font-family: 'Asap', sans-serif;
}

.main_menu
    {
        width: 200px;
        background-color: #8AE0F2;
        color: #000;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .level_menu
    {
        width: 150px;
        background-color: aliceblue;
        color: black;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .selected
    {
        background-color:purple;
        color: #fff;
    }
/*
.topmenu {
    text-align:center;
    font-size:15px;
    background-color:white;
    width:100%;
    }


.level1 static {
    width:100%;
}
.menunode
{
    text-align:center;
    height:30px;
    width:100%;
    border-bottom:solid;
    border-bottom-width:3px;
    border-bottom-color:black;
    
}

.dynamicmenunode
{
    color:#FFFFFF;
    background-color:#0094ff;
    margin:0px 2px;
    width:128px;    
}
*/
.btn-primary{
    background-color:#833D3D;
    border-color:#3E4891;
    color: white;
}

.btn-primary :hover{
    background-color:#3E4891;
    border-color:#000;
    color: white;
}


.container-fluid{
    padding-left: 40px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-heading{
    background-image:linear-gradient(to right, #3E4891,#833D3D);
    color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

/*
#wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}
*/


@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
